html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8B37D
}

.menu {position: fixed;top: 0.5em;}
.waves-mine{}
.responsive-img{width: 33%;height: auto;opacity: 0.7;}
.responsive-img:hover{opacity: 1.0;}

.container {
  position: relative;
  width: 80%;
  background-color: #E8B37D;
}
